@{
    ViewData["Title"] = "主页";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div id="openEmrSee">
        <p>欢迎使用成都信通结构化电子病历编辑器! <a href="javascript:void(0)">打开EMR查看页面</a></p>
    </div>
</div>
